@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  height: 100vh;
  background-color: black;
  font-family: 'Raleway', sans-serif;
}

.container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 0.5fr 6fr 0.5fr;
  grid-template-areas:
    'header header header'
    'nav main aside'
    'footer footer footer';
  height: 97vh;
}

header {
  grid-area: header;
  background-color: black;

  text-decoration-color: #e1ecf9;
  width: 100%;
  position: absolute;
  font-family: 'Wendy One', sans-serif;
  height: 17%;
  font-size: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
nav {
  grid-area: nav;
  background-color: #1f1f1f;

  overflow: scroll;
  font-family: 'Gaegu', cursive;
  overflow: scroll;
  overflow-x: hidden;
  color: #bfd5ed;
  margin-top: 20%;
}
main {
  grid-area: main;
  background-color: #e0e0d1;
  font-family: 'Gaegu', cursive;
  padding-right: 15px;
  overflow: scroll;
  overflow-x: hidden;
  height: 90vh;
  margin-top: 10%;
}
aside {
  grid-area: aside;
  background-color: #1f1f1f;
  font-family: 'Gaegu', cursive;
  margin-top: 10%;
}

footer {
  grid-area: footer;
  background-color: black;
  font-family: 'Gaegu', cursive;
  height: 1vh;
}

.logo {
  padding-top: 1%;
  height: 35px;
}
/* 
.article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
} */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.gallery-item {
  margin: 10px;
  -webkit-transition: 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.gallery-item .thumbnail {
  height: 240px;
  width: 290px;
  overflow: scroll;
  border: 2px solid GhostWhite;
  border-radius: 4px;
  padding: 2%;
  background-color: whitesmoke;
  font-family: 'Raleway', sans-serif;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-item .thumbnail::-webkit-scrollbar {
  width: 2%;
}

.gallery-item .thumbnail::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.gallery-item .thumbnail::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

h1 {
  font-size: 96%;
  color: white;
}

nav .nav {
  color: white;
}

h2 {
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
}

ul {
  justify-content: center;
}

.navButtons {
  color: white;
  text-decoration: underline;
  text-decoration-color: black;
}

.full {
  padding-top: 10px;
  width: 80%;
  margin: auto;
  font-family: 'Raleway', sans-serif;
}

.voteUp {
  background-color: #44c767;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 1px;

  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.voteUp:hover {
  background-color: #5cbf2a;
}
.voteUp:active {
  position: relative;
  top: 1px;
}

.voteDown {
  background-color: #eb232d;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #fc1414;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 1px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #610909;
}
.voteDown:hover {
  background-color: #ad0303;
}
.voteDown:active {
  position: relative;
  top: 1px;
}

.author {
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
}
#topicList {
  margin-left: 45%;
  font-family: 'Raleway', sans-serif;
}
.search {
  margin-top: 3%;
  padding-top: 5px;
  margin-top: 3px;
  color: black;
  margin-left: 40%;
  margin-right: 45%;
  font-size: 30px;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}
